<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>


	<div class="page-header text-center">
		<h2><%=title%></h2>
		Audition
	</div>
	

	<p>Production Company: <-- TODO --></p>
	<p>Audition Dates: <%=date%></p>
	<p>Audition Venue: <%=venue%></p>
	<p>Production Dates: <-- TODO --></p>
	<p>Production Venue: <-- TODO --></p>
	<p>Contact: <%=contact%></p>
	<p>Notes: <%=notes%></p>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>