<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>

<style>
/* Browse Shows carousel CSS */
.browse-show .photo {
  width: 16.66%;
  height: 100%;
  display: inline-block; 
  overflow: hidden; 
  position: relative; 
}

.col-item {
  position: relative;
}

.browse-show {
  margin-top: 60px;}

.browse-show .picture img {
  width: 100%;
  height:100%;
  vertical-align: middle;position: relative;
}

.carousel-line > .controls {
  position: absolute; 
  bottom: -40px; 
  left: 50%; 
  margin-left: -50px;
  background: #fff;
  padding: -50px 20px;
  color: #000;
}

.carousel-line > .controls > a {
  color: #868686;
  font-size: 24px;
  font-weight: 300;
}

.carousel-line > .controls > a:hover {
    background-color: #ddd;
    color: black;
}

.carousel-img:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.picture:hover .overlay {
  opacity: 1;
}

/* Bottom left text */
.bottom-left {
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
</style>

	<div class="page-header text-center">
		<% if (isShowOwner) { %>
		<button class="btn pull-right btn-success" onclick="location.href='/shows/addshow';"> Create show</button>
		<% } %>
		<h2>Browse Shows</h2>
	</div>

	<div class="container">
		<div class="row">
			<h2>Musical Theatre</h2>
			<div id="musical-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#musical-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#musical-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count1 = 0; %>
							<% musical.forEach(function(musicalShow) { %>
								<% if (count1 != 0 && count1 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img class="carousel-img" src="/static<%=musicalShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=musicalShow.id%>'">
											<div class="bottom-left"><%=musicalShow.title%></div>
										</div>
									</div>
								</div>
							</div>

								<% count1++; %>
		  					<% }); %>

						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row">
			<h2>Plays</h2>
			<div id="play-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#play-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#play-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count2 = 0; %>
							<% play.forEach(function(playShow) { %>
								<% if (count2 != 0 && count2 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img src="/static<%=playShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=playShow.id%>';">
											<div class="bottom-left"><%=playShow.title%></div>
										</div>
									</div>
								</div>
							</div>

								<% count2++; %>
		  				<% }); %>

						</div>
					</div>
				</div>
				
			</div>
		</div>		

		<div class="row">
			<h2>Comedy</h2>
			<div id="comedy-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#comedy-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#comedy-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count3 = 0; %>
							<% comedy.forEach(function(comedyShow) { %>
								<% if (count3 != 0 && count3 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img src="/static<%=comedyShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=comedyShow.id%>';">
											<div class="bottom-left"><%=comedyShow.title%></div>
										</div>
									</div>
								</div>
							</div>

								<% count3++; %>
		  				<% }); %>

						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<h2>Romance</h2>
			<div id="romance-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#romance-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#romance-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count4 = 0; %>
							<% romance.forEach(function(romanceShow) { %>
								<% if (count4 != 0 && count4 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img src="/static<%=romanceShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=romanceShow.id%>';">
											<div class="bottom-left"><%=romanceShow.title%></div>
										</div>
									</div>
								</div>
							</div>

								<% count4++; %>
		  				<% }); %>

						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row">
			<h2>Burlesque</h2>
			<div id="burlesque-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#burlesque-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#burlesque-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count5 = 0; %>
							<% burlesque.forEach(function(burlesqueShow) { %>
								<% if (count5 != 0 && count5 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img src="/static<%=burlesqueShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=burlesqueShow.id%>';">
											<div class="bottom-left"><%=burlesqueShow.title%></div>
										</div>										
									</div>
								</div>
							</div>

								<% count5++; %>
		  				<% }); %>

						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row">
			<h2>Tragedy</h2>
			<div id="tragedy-carousel" class="carousel slide browse-show browse-show-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#tragedy-carousel" data-slide="prev"></a>
						<a class="left fa fa-angle-right btn" href="#tragedy-carousel" data-slide="next"></a>
					</div>
				</div>

				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<!-- for each show in genre do this -->
							<% var count6 = 0; %>
							<% tragedy.forEach(function(tragedyShow) { %>
								<% if (count6 != 0 && count6 % 4 == 0) { %>
						</div>
					</div>
					<div class="item">
						<div class="row">
								<% } %>

							<div class="col-sm-3">
								<div class="col-item">
									<div class="picture">
										<img src="/static<%=tragedyShow.picture%>">
										<div class="overlay" onclick="location.href='/shows/<%=tragedyShow.id%>';">
											<div class="bottom-left"><%=tragedyShow.title%></div>
										</div>
									</div>
								</div>
							</div>

								<% count6++; %>
		  				<% }); %>

						</div>
					</div>
				</div>
				
			</div>
		</div>

	</div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
</html>
