<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>


	<div class="page-header text-center">
		<% if (isShowOwner) { %>
		<button class="btn pull-right btn-success" onclick="location.href='/shows/addshow';"> Create show</button>
		<% } %>
		<h2>Shows</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="column">
				<img class="slideshow cursor" src="">		<!-- TODO src -->
			</div>
		</div>
		<h3>Comedy</h3>
		<% comedy.forEach(function(comedyShow) {%>
			<p><%=comedyShow.title%></p>
  		<% }); %>

		<h3>Romance</h3>
		<% romance.forEach(function(romanceShow) {%>
			<p><%=romanceShow.title%></p>
  		<% }); %>

  		<h3>Musical Theatre</h3>
		<% musical.forEach(function(musicalShow) {%>
			<p><%=musicalShow.title%></p>
  		<% }); %>

  		<h3>Burlesque</h3>
 		<% burlesque.forEach(function(burlesqueShow) {%>
			<p><%=burlesqueShow.title%></p>
  		<% }); %> 		

  		<h3>Play</h3>
		<% play.forEach(function(playShow) {%>
			<p><%=playShow.title%></p>
  		<% }); %>

  		<h3>Tragedy</h3>
		<% tragedy.forEach(function(tragedyShow) {%>
			<p><%=tragedyShow.title%></p>
  		<% }); %>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
</html>
